<p>this is for side nav bar</p>
<div class="icon-container">
    <mat-icon svgIcon="note-icon" aria-hidden="false" aria-label="Note SVG icon"></mat-icon>
    <span class="icon-text">Notes</span>
</div>

<div class="icon-container">
    <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="Remainder SVG icon"></mat-icon>
    <span  class="icon-text">Remainders</span>
</div>
<div class="icon-container">
    <mat-icon svgIcon="edit-icon" aria-hidden="false" aria-label="Edit SVG icon"></mat-icon>
    <span  class="icon-text">Edit Labels</span>
</div>
<div class="icon-container">
    <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="Archive SVG icon"></mat-icon>
    <span  class="icon-text">Archive</span>

</div>
<div class="icon-container">
    <mat-icon svgIcon="trash-icon" aria-hidden="false" aria-label="Trash SVG icon"></mat-icon>
    <span  class="icon-text">Trash</span>
</div>

<p>This is  main content</p>
<div class="icons-container">
    <mat-icon svgIcon="note-icon" aria-hidden="false" aria-label="Note SVG icon" class="icon"></mat-icon>
    <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="Remainder SVG icon" class="icon"></mat-icon>
    <mat-icon svgIcon="edit-icon" aria-hidden="false" aria-label="Edit SVG icon" class="icon"></mat-icon>
    <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="Archive SVG icon" class="icon"></mat-icon>
    <mat-icon svgIcon="trash-icon" aria-hidden="false" aria-label="Trash SVG icon" class="icon"></mat-icon>
</div>